$def with(movies)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Film</title>


</head>
<body>
<form action="/" method="post">
    <input type="text" name="title">
    <input type="submit" value="搜索影片"/>
</form>


    <h4>欢迎来到</h4>
    <h1>Show Film</h1>
    <hr>
    <p>影片列表:</p>
    $for movie in movies:
        <li>
            <!--$movie['title'],$movie['year'],$movie['country'],$movie['abstract']-->
            <a href="movie/$movie['id']">$movie['title']</a>
        </li>

</body>

</html>