$def with(movies)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Film</title>


</head>
<body>
<form action="/" method="post">
    <input type="text" name="title">
    <input type="submit" value="搜索影片"/>
</form>

$if count > 0:
    <p>
        共 $count 部影片
        $if key:
            与 <b><u>$key</u></b> 有关
    </p>
    <p>影片列表：</p>
    $for movie in movies:
        <li>
            <a href="/movie/$movie['id']">$movie['title']</a>
        <[表情]>
$else:
    <p>
        啊咧，没有影片
        $if key:
            与 <b><u>$key</u></b> 有关
    </p>
    <p><a href="/">返回首页</a></p>

</body>

</html>